<h1 class="public-recipe-heading">Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="">
  <div>
  <div class"cards-container">
   <div class="cards">
      <div class="recipe">
        <h2><%= recipe.recipe_name %></h2>
        <p>By: <%= recipe.author_name %></p>
      </div>
      <div class="slot ">
        <p class="ingredients-total">Total food items: <%= recipe.food_count %></p>
        <p class="ingredients-total">Total Price: $ <%= recipe.total_amount %></p>
      </div>
   </div>
  </div>
    
  <% end %>
  </div>
  </div>
 