<nav>
    <ul class="nav-list">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "Inventories", inventories_path %></li>
      <li class="nav-item"><%= link_to "Recipes", recipes_path %></li>
      <li class="nav-item"><%= link_to "public recipes", public_recipes_path %></li>
    </ul>
  </nav>
