ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li,
.inventory-container {
  border: 2px solid black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.add-recipe-container {
  position: relative;
}

.add-recipe {
  position: absolute;
  right: 0;
  border: 1px solid black;
  padding: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* recipe show */

main {
  margin: 5% 5%;
}

main > h1 {
  text-align: center;
}

.container-time {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.add-ingredient-container,
.back-recipes-container {
  margin: 30px 0;
}

.add-ingredient,
.back-recipes,
.add-inventory,
.a-button {
  text-decoration: none;
  padding: 5px;
  border: 1px solid;
  color: black;
}

.add-inventory {
  width: 10%;
}

.add-ingredient:hover,
.a-button:hover {
  padding: 7px;
  background-color: black;
  color: white;
}

table {
  width: 100%;
  text-align: center;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  padding: 10px;
}
